openapi: 3.1.0
info:
  title: Wikimedia Enterprise API spec articles Talk pages API
  description: 'OpenAPI 3.0 specification for the Metadata, On-demand, Snapshot, and Realtime Batch API(s) of WME.


    While we provide this swagger spec for quick reference, our official documentation is located on our website:


    - [Official Documentation](https://enterprise.wikimedia.com/docs/)

    - [Data Dictionary & Schema](https://enterprise.wikimedia.com/docs/data-dictionary/)

    '
  version: 2.0.0
servers:
- url: https://api.enterprise.wikimedia.com
security:
- bearerAuth: []
tags:
- name: Talk pages
paths:
  /page/talk/{title}:
    get:
      tags:
      - Talk pages
      summary: Get structured talk page contents
      description: 'Gets structured talk page contents for the provided title.


        Stability: [experimental](https://www.mediawiki.org/wiki/Wikimedia_Product/Wikimedia_Product_Infrastructure_team/API_endpoint_stability_policy#Experimental)

        '
      parameters:
      - name: title
        in: path
        description: 'Page title. Use underscores instead of spaces. Use percent-encoding. Example: `Main_Page`.'
        required: true
        schema:
          type: string
      - name: redirect
        in: query
        description: 'Requests for [redirect pages](https://www.mediawiki.org/wiki/Help:Redirects) return HTTP 302 with a redirect target in `Location` header and content in the body.

          To get a 200 response instead, supply `false` to the `redirect` parameter.

          '
        schema:
          type: boolean
      responses:
        '200':
          description: structured talk page JSON.
          headers:
            ETag:
              description: 'Syntax: "{revision}/{tid}". Example: "701384379/154d7bca-c264-11e5-8c2f-1b51b33b59fc"

                '
              schema:
                type: string
          content:
            application/json; charset=utf-8; profile="https://www.mediawiki.org/wiki/Specs/Talk/0.1.0":
              schema:
                type: string
        '301':
          description: 'A permanent redirect is returned if the supplied article title was not in the normalized form.

            To avoid this kind of redirect, you can use the [mediawiki-title](https://github.com/wikimedia/mediawiki-title) library to perform

            title normalization client-side.


            Beware that redirected pre-flighted cross-origin requests (such as those sending custom request headers like `Api-User-Agent`)

            will fail in most current browsers [due to a spec bug](https://github.com/whatwg/fetch/issues/204).

            '
        '302':
          description: 'The page is a [redirect page](https://www.mediawiki.org/wiki/Help:Redirects).

            The `location` header points to the redirect target.

            If you would like to avoid automatically following redirect pages, set the `redirect=false` query parameter.


            Beware that redirected pre-flighted cross-origin requests (such as those sending custom request headers like `Api-User-Agent`)

            will fail in most current browsers [due to a spec bug](https://github.com/whatwg/fetch/issues/204).

            '
        '404':
          description: Unknown page title
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
      x-monitor: true
      x-amples:
      - title: Get structured talk page for enwiki Salt article
        request:
          params:
            domain: en.wikipedia.org
            title: Salt
        response:
          status: 200
          headers:
            content-type: /application\/json; charset=utf-8; profile=".+Talk.+"/
            etag: /.+/
          body:
            topics:
            - id: /.+/
              replies:
              - sha: /.+/
                depth: /.+/
                html: /.*/
              depth: /.+/
              html: /.*/
              shas:
                html: /.+/
                indicator: /.+/
  /page/talk/{title}/{revision}:
    get:
      tags:
      - Talk pages
      summary: Get structured talk page contents
      description: 'Gets structured talk page contents for the provided title.


        Stability: [experimental](https://www.mediawiki.org/wiki/Wikimedia_Product/Wikimedia_Product_Infrastructure_team/API_endpoint_stability_policy#Experimental)

        '
      parameters:
      - name: title
        in: path
        description: 'Page title. Use underscores instead of spaces. Use percent-encoding. Example: `Main_Page`.'
        required: true
        schema:
          type: string
      - name: revision
        in: path
        description: 'Optional page revision. Note that older revisions are not stored, so request latency with the revision would be higher.

          '
        required: true
        schema:
          type: integer
      - name: redirect
        in: query
        description: 'Requests for [redirect pages](https://www.mediawiki.org/wiki/Help:Redirects) return HTTP 302 with a redirect target in `Location` header and content in the body.

          To get a 200 response instead, supply `false` to the `redirect` parameter.

          '
        schema:
          type: boolean
      responses:
        '200':
          description: structured talk page JSON.
          headers:
            ETag:
              description: 'Syntax: "{revision}/{tid}". Example: "701384379/154d7bca-c264-11e5-8c2f-1b51b33b59fc"

                '
              schema:
                type: string
          content:
            application/json; charset=utf-8; profile="https://www.mediawiki.org/wiki/Specs/Talk/0.1.0":
              schema:
                type: string
        '301':
          description: 'A permanent redirect is returned if the supplied article title was not in the normalized form.

            To avoid this kind of redirect, you can use the [mediawiki-title](https://github.com/wikimedia/mediawiki-title) library to perform

            title normalization client-side.


            Beware that redirected pre-flighted cross-origin requests (such as those sending custom request headers like `Api-User-Agent`)

            will fail in most current browsers [due to a spec bug](https://github.com/whatwg/fetch/issues/204).

            '
        '302':
          description: 'The page is a [redirect page](https://www.mediawiki.org/wiki/Help:Redirects).

            The `location` header points to the redirect target.

            If you would like to avoid automatically following redirect pages, set the `redirect=false` query parameter.


            Beware that redirected pre-flighted cross-origin requests (such as those sending custom request headers like `Api-User-Agent`)

            will fail in most current browsers [due to a spec bug](https://github.com/whatwg/fetch/issues/204).

            '
        '404':
          description: Unknown page title
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
        default:
          description: Error
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
      x-monitor: false
      x-amples:
      - title: Get structured talk page for enwiki Salt article
        request:
          params:
            domain: en.wikipedia.org
            title: Salt
        response:
          status: 200
          headers:
            content-type: /application\/json; charset=utf-8; profile=".+Talk.+"/
            etag: /.+/
          body:
            topics:
            - id: /.+/
              replies:
              - sha: /.+/
                depth: /.+/
                html: /.*/
              depth: /.+/
              html: /.*/
              shas:
                html: /.+/
                indicator: /.+/
components:
  schemas:
    problem:
      required:
      - type
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        detail:
          type: string
        instance:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
