openapi: 3.1.0
info:
  title: Wikimedia Enterprise API spec articles Citation API
  description: 'OpenAPI 3.0 specification for the Metadata, On-demand, Snapshot, and Realtime Batch API(s) of WME.


    While we provide this swagger spec for quick reference, our official documentation is located on our website:


    - [Official Documentation](https://enterprise.wikimedia.com/docs/)

    - [Data Dictionary & Schema](https://enterprise.wikimedia.com/docs/data-dictionary/)

    '
  version: 2.0.0
servers:
- url: https://api.enterprise.wikimedia.com
security:
- bearerAuth: []
tags:
- name: Citation
  description: generation of citation data
paths:
  /data/citation/{format}/{query}:
    get:
      tags:
      - Citation
      summary: Get citation data given an article identifier.
      description: "Generates citation data given a URL, DOI, PMID, or PMCID.\n\nAutomated requests can be made at a rate of 1 request per second (rps).\n\nSee more at [Citoid service documentation](https://www.mediawiki.org/wiki/Citoid)\n\nThe citation data can be requested in one of the following formats:\n  - `mediawiki`: format designed for MediaWiki to be used with `templateData`.\n    Uses [Zotero field names](https://aurimasv.github.io/z2csl/typeMap.xml).\n  - `mediawiki-basefields`: `mediawiki` format with Zotero `basefield` field names.\n  - `zotero`: format used by [Zotero](https://www.zotero.org/).\n  - `bibtex`: format used in conjunction with LaTeX documents.\n    See [bibtex.org](http://www.bibtex.org/).\n  - `wikibase`: format designed for [Wikibase](https://www.mediawiki.org/wiki/Extension:Wikibase_Repository).\n\nStability: [unstable](https://www.mediawiki.org/wiki/API_versioning#Unstable)\n"
      parameters:
      - name: format
        in: path
        description: The format to use for the resulting citation data
        schema:
          type: string
          enum:
          - mediawiki
          - mediawiki-basefields
          - zotero
          - bibtex
          - wikibase
        required: true
      - name: query
        in: path
        description: 'URL of an article, DOI, PMCID or PMID in the URL-encoded format. Note that on the Swagger-UI doc page you don''t need to URI-encode the parameter manually, it will be done by the docs engine.

          '
        required: true
        schema:
          type: string
      - name: Accept-Language
        in: header
        description: 'For some articles the result depends on the `Accept-Language` header, so provide it if localized content is required.

          '
        schema:
          type: string
      responses:
        '200':
          description: The citation data in the requested format
          content:
            application/json; charset=utf-8;:
              schema:
                $ref: '#/components/schemas/result'
            application/x-bibtex; charset=utf-8:
              schema:
                $ref: '#/components/schemas/result'
        '404':
          description: Citation data was not found.
          content:
            application/problem+json:
              schema:
                $ref: '#/components/schemas/problem'
      operationId: getCitation
      x-monitor: false
components:
  schemas:
    result:
      required:
      - title
      - url
      - itemType
      type: object
      properties:
        itemType:
          type: string
        title:
          type: string
        url:
          type: string
    problem:
      required:
      - type
      type: object
      properties:
        type:
          type: string
        title:
          type: string
        detail:
          type: string
        instance:
          type: string
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
